@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #454545;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

nav {
  position: fixed;
  width: 100%;
  background: #333333;
  z-index: 1;
  top: 0;
  padding: 1em;
}

@media (max-width: 950px) {
  nav {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  margin: auto;
  max-width: 1080px;
}

nav ul li {
  margin-right: 2em;
}

nav ul li:last-child {
  margin-right: 0px;
}

nav ul li:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

nav a {
  font-size: 1em;
  position: relative;
  color: #ffffffcb;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.42s ease-in-out 0s;
  transition: all 0.42s ease-in-out 0s;
}

nav a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#main-container {
  margin: 2em auto;
  max-width: 1080px;
  padding: 30px 30px 0px 30px;
}

#introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0px;
}

@media (max-width: 950px) {
  #introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

#portrait {
  display: inline-block;
 width: 100%;
 height: auto;
 border-radius: 50%;
 overflow: hidden;
}

@media (max-width: 950px) {
  #portrait {
    margin-top: 1em;
  }
}

#intro_paragraph {
  font-size: 1em;
  line-height: 1.8;
  padding-left: 0em;
}

@media (max-width: 950px) {
  #intro_paragraph {
    margin-top: 0px;
    padding-top: 1em;
  }
}

#intro_name {
  padding-left: 0em;
  font-size: 1em;
  color: #aaa;
}

.darkrow {
  background-color: #383e42;
  color: white;
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  padding-bottom: 25px;
}

.heading_spaced {
  font-size: 2.5em;
  letter-spacing: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.subject_title {
  font-size: 1.2em;
  font-weight: 500;
}

.paragraph_text {
  font-size: 0.9em;
  font-weight: 400;
  margin-left: 22px;
  padding: 0;
}

.flexbox_skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexbox_skills a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.flexbox_skills a:hover {
  color: #c5c5c5;
}

.flexbox_skills li {
  margin-top: 4px;
}

@media (max-width: 950px) {
  .flexbox_skills {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.flexbox_skills .box-1 {
  width: 45%;
}

@media (max-width: 950px) {
  .flexbox_skills .box-1 {
    width: 100%;
  }
}

.flexbox_skills .box-2 {
  width: 45%;
}

@media (max-width: 950px) {
  .flexbox_skills .box-2 {
    width: 100%;
  }
}

#projects {
  margin: 50px 0px;
}

.product_screengrab {
  width: 100%;
  height: auto;
  border-radius: 5px;
  outline: none;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: 1fr 1.5fr;
      grid-template-rows: 1fr 1.5fr;
      grid-template-areas: "description image" "description image";
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin-top: 2em;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #e2e2e2;
  position: relative;
}

.grid-container .image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: image;
}

.grid-container .description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: description;
  padding-right: 1rem;
  line-height: 1.8;
  font-size: 1em;
}

.grid-container .language-icon-size {
  vertical-align: middle;
  display: inline;
}

.grid-container .language-icon-size img {
  margin-left: 5px;
}

.grid-container .seemore {
  background-color: #383e42;
  border-color: #343a40;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-row-end: 3;
  position: static;
}

.grid-container .seemore:hover {
  background-color: #383e42ea;
}

.grid-container .language {
  display: inline;
  margin-right: 1rem;
}

@media (max-width: 950px) {
  .grid-container .language {
    margin-top: 1rem;
    display: inline-block;
  }
}

.grid-container #technologies {
  margin-top: 0.5em;
}

#contactform {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 1em 2em;
}

#contactform h1 {
  font-size: 1.8em;
}

#contactform .form-group {
  margin-bottom: 1.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#contactform .form-label {
  font-size: 0.75em;
  color: var(--font-color);
  display: block;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

#contactform .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#contactform .form-control::-webkit-input-placeholder {
  color: #aaa;
}

#contactform .form-control:-ms-input-placeholder {
  color: #aaa;
}

#contactform .form-control::-ms-input-placeholder {
  color: #aaa;
}

#contactform .form-control::placeholder {
  color: #aaa;
}

#contactform .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}

#contactform .form-group:focus-within {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

#contactform .form-control:invalid:focus {
  border-color: darkrow;
}

#contactform .form-control:valid:focus {
  border-color: darkrow;
}

#contactform .btn {
  background-color: #383e42;
  border-color: #343a40;
  color: white;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9em;
}

#contactform .btn:hover {
  background-color: #383e42ea;
}

#contactform textarea {
  resize: none;
}

#contactform .focused > .form-label {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#footer {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
}

#footer a.img-link {
  text-decoration: none;
}

#footer #githublogo {
  max-width: 32px;
  max-height: 32px;
  margin-right: 10px;
}

#footer #linkedinlogo {
  margin-left: 10px;
  width: 37.64px;
  height: 32px;
}

.big-video{
  height:512px;
}
